.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    
}

.heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/*Container */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 10px auto;
    max-width: 500px;
}

.toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.user-form label {
    font-weight: bold;
}

.user-form input, 
.user-form textarea {
    width: 100%;
    box-sizing: border-box; /* Prevents padding from affecting width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.user-form select {
    width: 100%; /* Allows dropdowns to maintain their original size */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.user-list {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center; 
    gap: 15px;
    padding: 20px;
}

.user-card {
    background: white;
    padding: 12px;
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.user-info h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
    margin-bottom: 10px; /* Reduce gap between email and button */

}

.user-info p {
    font-size: 14px;
    margin: 2px 0;
    color: #777;
    white-space: nowrap; /* Prevent line break */
    overflow: hidden;
    text-overflow: ellipsis; /* Add '...' if it's too long */
    width: 100%; /* Ensures proper spacing */
    text-align: center;
}

.user-item {
    background: white;
    padding: 20px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-button {
    background-color: #ff9800;
    color: white;
    border: none;
    margin-top: 10px;    
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 20px;
}